body {
    background: #F3E8FF;
    font-family: 'Cabin', Sans-Serif;
    font-weight: 400;
    line-height: 1.75;
    color: #4C3A51;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: 1px;
}
h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}
p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}
a {
    text-decoration: none;
    letter-spacing: 1px;
}
a,
button {
    line-height: 1.15;
}
.img-logo {
    height: 5rem;
}
.container {
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto;
}
.img {
    /* width: 100%;
    display: block; */
    object-fit: cover;
}
.btn {
    cursor: pointer;
    color: #fff;
    background: #E21818;
    border: transparent;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    text-transform: capitalize;
    display: inline-block;
}
.btn-hero {
    font-size: 1.25rem;
    padding: 0.5rem 1.25rem;
}
.full-page {
    min-height: 100vh;
}
.form {
    width: 90vw;
    max-width: 500px;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
    transition: 0.3s ease-in-out all;
}
.form-label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background: #f0f4f8;
    border: 1px solid #bcccdc;
}
.form-input,
.form-select,
.btn-block {
    height: 35px;
}